:root{
        --color1: #2d7ca4;
        --color2: #46a4d0;
        --color3: #69a42f;
        --color4: #fbc026;
        --color5: #ec2d01;
}

body{
        background-color: #282828;
        padding: 25px;
}

img{
        height: 200px;
        width: 200px;
}

.job-title, td, p, hr, li{
        color: #676767;
}

strong, h1, h3 p, h4{
        color: #f4f4ee;
}

td:nth-child(odd){
        text-align: right;
}

tr{
        margin: 10px;
}

td{
        padding: 5px;
}

#title{
        color: #508eac;
}


#box1{
       display: flex; 
       /* margin: 20px; */
}

.title-span{
        display: flex;
}

.title-card{
        margin: 22px;
        margin-right:50px;
}

a{
        text-decoration: none;
        color: #46a4d0;
}

.title-card *{
        margin:0;
}


#lower-section{
        border-top: 1px solid #676767;
        margin: 0;
        display: flex;
}

#section2{
        width: 60%;
}

#section2 h4{
        background: #373737;
        font-weight: 500;
        border-radius: 10% 0 0 10%;
}

h3, .job-title{
        margin: 0;
}

.job-school{
        margin: 0;
        padding: 0;
}

.description{
        margin: 15px 0px;
}

#section2 .down{
        /* display: flex; */
        transform: scale(1,-1);
        padding: 10px;
        width: 1em;
}

.employment-icons{
        background-color: #46a4d0;
}

.education-icons{
        background-color: #69a42f;
}

progress[value]{
        
}
        

.color1{
        accent-color:var(--color1)
}

.color2 {
        accent-color: var(--color2);
}

.color3{
        accent-color: var(--color3);
}

.color4{
        accent-color: var(--color4);
}

.color5{
        accent-color: var(--color5);
}

p.detail{
        margin:0
}

ul{
        margin:0;
        padding:0;
}

li{
        margin:10px;
        list-style-type: none;
}

.bullet-box-color1{
        background-color: var(--color1);
        color: var(--color1);
        margin-right: 5px;
}

.bullet-box-color2{
        background-color: var(--color2);
        color: var(--color2);
        margin-right: 5px;
}

.bullet-box-color3{
        background-color: var(--color3);
        color: var(--color3);
        margin-right: 5px;
}

.bullet-box-color4{
        background-color: var(--color4);
        color: var(--color4);
        margin-right: 5px;
}

.bullet-box-color5{
        background-color: var(--color5);
        color: var(--color5);
        margin-right: 5px;
}

#section3{
        margin-left: 20px;
}
