body{
        background-color: #282828;
}

img{
        height: 200px;
        width: 200px;
}

p{
        color: #676767;
}

strong, h1,h4{
        color: #f4f4ee;
}

#title{
        color: #508eac;
}
